.container{
	font-family: 'Muli', sans-serif;
}
.celljuego .juego .name{
	font-size: 7vh;
}
.tablehead{
	font-size: 2.5vh;
}
.juegos .selected{
	background-color: #70d5e2;
}
.celljuego .juego .age{
	font-size: 2vh;
}
.celljuego:hover,.horario:hover{
	cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-but#9c27b0ton { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#juegoinfo .selected{
	color:green;
}