.container{
	font-family: 'Muli', sans-serif;
}
.celljuego .juego .name{
	font-size: 7vh;
}
.tablehead{
	font-size: 2.5vh;
}
.celljuego .juego .age{
	font-size: 2vh;
}
.celljuego:hover,.horario:hover{
	cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#juegoinfo .selected{
	color:green;
}
.juegos .selected{
	background-color: #390642;
}
.selected .name,.selected .age{
	color: #ffffff;
}
.iconito{
	max-height: 6vh; 
}